$orange: hsl(26, 100%, 55%);

$pale-orange: hsl(25, 100%, 94%);

$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-transparent: hsla(0, 0%, 0%, 0.8);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}

body {
	font-size: 16px;
	font-family: 'Kumbh Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
p {
	font-weight: 400;
}

.header {
	padding: 1rem 0.5rem;
	max-width: 1100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	border-bottom: 1px solid $grayish-blue;
}

.header__main {
	gap: clamp(2.2rem, 3.5vw, 4rem);
	display: flex;
	align-items: center;
}
.header__icon {
	cursor: pointer;
	display: none;
}
.header__nav-list {
	display: flex;
	gap: clamp(0.8rem, 1.6vw, 2rem);
}
.header__nav-link {
	padding: 1rem 0.5rem 2rem 0.5rem;
	color: $dark-grayish-blue;
	text-decoration: none;
	transition: color 0.12s ease-in-out;
	-webkit-transition: color 0.12s ease-in-out;
	-moz-transition: color 0.12s ease-in-out;
	-ms-transition: color 0.12s ease-in-out;
	-o-transition: color 0.12s ease-in-out;
}
.header__nav-link:hover {
	color: $very-dark-blue;
	border-bottom: 3px solid $orange;
}
.header__additional {
	display: flex;
	align-items: center;
	gap: clamp(1.8rem, 3vw, 3.5rem);
}
.header__user {
	cursor: pointer;
	max-width: 3.5rem;
}
.header__user:hover {
	border: 2px solid $orange;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.header__cart {
	padding: 0.5rem;
	cursor: pointer;
}
.header__cart-count {
	display: none;
	position: absolute;
	margin-top: -1.2rem;
	margin-left: 1.2rem;
	font-size: 0.6rem;
	color: $white;
	background: $orange;
	padding: 0.1rem 0.4rem;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}
.header__cart-count._active {
	display: block;
}
.header__cart-dropdown {
	display: none;
	color: $black;
	background-color: $white;
	z-index: 99;
	top: 5rem;
	margin-left: -10rem;
	box-shadow: 0px 5px 12px -3px $grayish-blue;
	padding: 1rem 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	width: clamp(9rem, 26vw, 27rem);
}
.header__cart-dropdown__head {
	font-weight: 700;
	padding: 0rem 1rem 1rem 1rem;
	border-bottom: 3px solid $light-grayish-blue;
}
.header__cart-dropdown__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 1.5rem 0.5rem 1.5rem;
}
.header__card-dropdown__block-empty {
	color: $dark-grayish-blue;
	font-weight: 700;
}
.header__cart-dropdown._active {
	display: block;
	position: absolute;
}
.header__cart-dropdown__item {
	display: flex;
	align-items: center;
	gap: 0.85rem;
	margin-bottom: 1rem;
}
.header__cart-dropdown__item-image__wrapper {
	max-width: 3rem;
}
.header__cart-dropdown__item-image {
	width: 100%;
	height: auto;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.header__cart-dropdown__item-text {
	color: $dark-grayish-blue;
}
.header__cart-dropdown__item-text__head {
	margin-bottom: 0.3rem;
}
.price-label {
	color: $black;
	font-weight: 700;
}
.header__cart-dropdown__item-delete {
	cursor: pointer;
}
.header__cart-dropdown__button {
	cursor: pointer;
	background: $orange;
	color: $white;
	width: 95%;
	padding: 0.8rem 0rem;
	font-size: 1.1rem;
	text-align: center;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
}
.header__cart-dropdown__button:hover {
	opacity: 0.6;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: clamp(1.8rem, 4vw, 5rem);
}
.item {
	max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
}
.item__preview-main {
	width: 27rem;
	margin-bottom: 1.3rem;
}
.item__preview-main__image {
	width: 100%;
	height: auto;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}
.item__preview-additional {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}
.item__preview-additional__item {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 6rem;
	margin-top: -0.1rem;
	margin-left: 0.1rem;
}
.item__preview-additional__item._active {
	border: 4px solid $orange;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}
.item__preview-additional__item._active .item__preview-additional__item-image {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}
.item__preview-additional__item:hover .item__preview-additional__item-image {
	filter: opacity(70%);
	-webkit-filter: opacity(70%);
}
.item__preview-additional__item._active .item__preview-additional__item-image {
	filter: opacity(30%);
	-webkit-filter: opacity(30%);
}
.item__preview-additional__item-image {
	width: 100%;
	height: auto;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	transition: filter 0.2s ease;
	-webkit-transition: filter 0.2s ease;
	-moz-transition: filter 0.2s ease;
	-ms-transition: filter 0.2s ease;
	-o-transition: filter 0.2s ease;
}
.item__info {
	display: flex;
	flex-direction: column;
}
.item__info-company {
	font-size: clamp(0.8rem, 1vw, 1.2rem);
	color: $orange;
	font-weight: 700;
	letter-spacing: 0.1rem;
	margin-bottom: 0.7rem;
}
.item__info-heading {
	font-size: clamp(1.7rem, 2.7vw, 3rem);
	line-height: 2.5rem;
	margin-bottom: 1.8rem;
}
.item__info-text {
	color: $dark-grayish-blue;
	line-height: 1.6rem;
	margin-bottom: 1.2rem;
	font-size: clamp(1rem, 1.1vw, 1.3rem);
}
.item__info-pricing {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 0.5rem;
}
.item__info-pricing__sale {
	font-weight: 700;
	font-size: clamp(1.8rem, 2vw, 2.3rem);
}
.item__info-pricing__amount {
	color: $orange;
	background: $pale-orange;
	font-weight: 700;
	padding: 0.2rem 0.4rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.item__info-lastprice {
	color: $grayish-blue;
	text-decoration: line-through;
	font-size: clamp(1.1rem, 1.2vw, 1.35rem);
	margin-bottom: 0.7rem;
}
.item__info-interaction {
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item__info-count {
	display: flex;
	align-items: center;
}
.item__info-count__minus {
	cursor: pointer;
	background: $light-grayish-blue;
	display: flex;
	align-items: center;
	padding: 1.2rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.item__info-count__result {
	font-weight: 700;
	background: $light-grayish-blue;
	padding: 0.7rem;
}
.item__info-count__plus {
	cursor: pointer;
	background: $light-grayish-blue;
	display: flex;
	align-items: center;
	padding: 0.98rem 1.2rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.item__info-cart {
	cursor: pointer;
	color: $white;
	display: flex;
	align-items: center;
	gap: 0.6rem;
	background: $orange;
	padding: 0.7rem 4rem;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	box-shadow: 0px 5px 16px -6px $orange;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
}
.item__info-cart:hover {
	opacity: 0.6;
}
.item__info-cart__image-wrapper {
	max-width: 1rem;
}
.item__info-cart__image {
	width: 100%;
	height: auto;
}
.item__info-cart__text {
	font-size: clamp(0.9rem, 1vw, 1.2rem);
}

.lightbox .lb-image {
	border: none;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
.item__preview--mobile {
	display: none;
}

@media (max-width: 1000px) {
	.main {
		padding: 2rem 1rem;
	}
	.item {
		gap: 3rem;
	}
	.item__info-heading {
		margin-bottom: 1rem;
	}
	.item__info-cart {
		padding: 0.7rem 2rem;
	}
	.item__info-interaction {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}
}

@media (max-width: 767px) {
	.header {
		padding: 0.5rem 1.3rem;
	}
	.header__icon {
		display: block;
		margin-top: 0.2rem;
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
	}
	.header__nav {
		display: none;
	}
	.header__main {
		gap: 1rem;
	}
	.header__user {
		max-width: 2.5rem;
	}
	.header__additional {
		gap: 0.8rem;
	}
	.header__cart-dropdown {
		width: 90%;
		top: 4rem;
		margin-left: 0;
		left: calc(0% + 5vw);
	}
	.item {
		flex-direction: column;
		gap: 1.5rem;
	}
	.item__preview--mobile {
		display: block;
	}
	.item__preview {
		display: none;
	}
	.item__info {
		padding: 0 1rem;
		align-items: stretch;
	}
	.item__info-heading {
		line-height: 1.95rem;
		margin-bottom: 1rem;
	}
	.item__info-interaction {
		align-self: center;
		min-width: 80%;
		flex-direction: column;
		align-items: stretch;
	}
	.main {
		padding: 0rem;
		padding-bottom: 2rem;
	}
	.item__preview-additional__item-image {
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
	}
	.splide__arrow {
		background: $white;
		opacity: 1;
		width: 2.5rem;
		height: 2.5rem;
	}
	.item__info-allprices {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0.8rem;
	}
	.item__info-count {
		width: 100%;
		margin-bottom: 1rem;
	}
	.item__info-count__minus {
		width: 25%;
		justify-content: flex-start;
		padding-left: 1.5rem;
	}
	.item__info-count__result {
		width: 50%;
		text-align: center;
	}
	.item__info-count__plus {
		width: 25%;
		justify-content: flex-end;
		padding-right: 1.5rem;
	}
	.item__info-cart {
		align-items: center;
		justify-content: center;
	}
}
