$orange: hsl(26, 100%, 55%);

$pale-orange: hsl(25, 100%, 94%);

$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-transparent: hsla(0, 0%, 0%, 0.8);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}

body {
	font-size: 16px;
	font-family: 'Kumbh Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
p {
	font-weight: 400;
}

.header {
	padding: 1rem 0.5rem;
	max-width: 1100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	border-bottom: 1px solid $grayish-blue;
}

.header__main {
	gap: clamp(2.2rem, 3.5vw, 4rem);
	display: flex;
	align-items: center;
}
.header__nav-list {
	display: flex;
	gap: clamp(0.8rem, 1.6vw, 2rem);
}
.header__nav-link {
	padding: 1rem 0.5rem 2rem 0.5rem;
	color: $dark-grayish-blue;
	text-decoration: none;
	transition: color 0.12s ease-in-out;
	-webkit-transition: color 0.12s ease-in-out;
	-moz-transition: color 0.12s ease-in-out;
	-ms-transition: color 0.12s ease-in-out;
	-o-transition: color 0.12s ease-in-out;
}
.header__nav-link:hover {
	color: $very-dark-blue;
	border-bottom: 3px solid $orange;
}
.header__additional {
	display: flex;
	align-items: center;
	gap: clamp(1.8rem, 3vw, 3.5rem);
}
.header__user {
	cursor: pointer;
	max-width: 3.5rem;
}
.header__user:hover {
	border: 3px solid $orange;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.header__cart {
	cursor: pointer;
}
.header__cart-dropdown {
	display: none;
	color: $black;
	background-color: $white;
	z-index: 99;
	top: 5rem;
	margin-left: -10rem;
	box-shadow: 0px 5px 12px -3px $grayish-blue;
	padding: 1rem 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	width: clamp(8rem, 25vw, 25rem);
}
.header__cart-dropdown__head {
	font-weight: 700;
	padding: 0rem 1rem 1rem 1rem;
	border-bottom: 3px solid $light-grayish-blue;
}
.header__cart-dropdown__block {
	height: clamp(6rem, 8vw, 12rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header__card-dropdown__block-empty {
	color: $dark-grayish-blue;
	font-weight: 700;
}
.header__cart-dropdown._active {
	display: block;
	position: absolute;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: clamp(1.8rem, 4vw, 5rem);
}
.item {
	max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
}
.item__preview-main {
	width: 27rem;
	margin-bottom: 1.3rem;
}
.item__preview-main__image {
	width: 100%;
	height: auto;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}
.item__preview-additional {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}
.item__preview-additional__item {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 6rem;
	margin-top: -0.1rem;
	margin-left: 0.1rem;
}
.item__preview-additional__item._active {
	border: 4px solid $orange;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}
.item__preview-additional__item._active .item__preview-additional__item-image {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}
.item__preview-additional__item:hover .item__preview-additional__item-image {
	filter: opacity(70%);
	-webkit-filter: opacity(70%);
}
.item__preview-additional__item._active .item__preview-additional__item-image {
	filter: opacity(30%);
	-webkit-filter: opacity(30%);
}
.item__preview-additional__item-image {
	width: 100%;
	height: auto;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	transition: filter 0.2s ease;
	-webkit-transition: filter 0.2s ease;
	-moz-transition: filter 0.2s ease;
	-ms-transition: filter 0.2s ease;
	-o-transition: filter 0.2s ease;
}
.item__info {
	display: flex;
	flex-direction: column;
}
.item__info-company {
	font-size: clamp(0.9rem, 1vw, 1.2rem);
	color: $orange;
	font-weight: 700;
	letter-spacing: 0.1rem;
	margin-bottom: 0.7rem;
}
.item__info-heading {
	font-size: clamp(1.7rem, 2.7vw, 3rem);
	line-height: 2.5rem;
	margin-bottom: 1.8rem;
}
.item__info-text {
	color: $dark-grayish-blue;
	line-height: 1.6rem;
	margin-bottom: 1.2rem;
	font-size: clamp(1rem, 1.1vw, 1.3rem);
}
.item__info-pricing {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 0.5rem;
}
.item__info-pricing__sale {
	font-weight: 700;
	font-size: clamp(1.3rem, 1.8vw, 2.3rem);
}
.item__info-pricing__amount {
	color: $orange;
	background: $pale-orange;
	font-weight: 700;
	padding: 0.2rem 0.4rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.item__info-lastprice {
	color: $grayish-blue;
	text-decoration: line-through;
	font-size: clamp(1rem, 1.1vw, 1.3rem);
	margin-bottom: 0.7rem;
}
.item__info-interaction {
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item__info-count {
	display: flex;
	align-items: center;
}
.item__info-count__minus {
	cursor: pointer;
	background: $light-grayish-blue;
	display: flex;
	align-items: center;
	padding: 1.2rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.item__info-count__result {
	font-weight: 700;
	background: $light-grayish-blue;
	padding: 0.7rem;
}
.item__info-count__plus {
	cursor: pointer;
	background: $light-grayish-blue;
	display: flex;
	align-items: center;
	padding: 0.98rem 1.2rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.item__info-cart {
	cursor: pointer;
	color: $white;
	display: flex;
	align-items: center;
	gap: 0.6rem;
	background: $orange;
	padding: 0.7rem 4rem;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	box-shadow: 0px 5px 16px -6px $orange;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
}
.item__info-cart:hover {
	opacity: 0.6;
}
.item__info-cart__image-wrapper {
	max-width: 1rem;
}
.item__info-cart__image {
	width: 100%;
	height: auto;
}
.item__info-cart__text {
	font-size: clamp(0.9rem, 1vw, 1.2rem);
}
