$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-transparent: hsl(0, 0%, 75%);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}

body {
	font-size: 16px;
	font-family: 'Kumbh Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
p {
	font-weight: 400;
}

.header {
	padding: 1rem 0.5rem;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid $grayish-blue;
}

.header__main {
	gap: clamp(2.2rem, 3.5vw, 4rem);
	display: flex;
	align-items: center;
}
.header__nav-list {
	display: flex;
	gap: clamp(1rem, 1.8vw, 2.3rem);
}
.header__nav-link {
	color: $very-dark-blue;
	text-decoration: none;
}
.header__additional {
	display: flex;
	align-items: center;
	gap: clamp(1.8rem, 3vw, 3.5rem);
}
.header__user {
	max-width: 3.5rem;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: clamp(1.8rem, 4vw, 5rem);
}
.item {
	max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
}
.item__preview-main {
	width: 27rem;
	margin-bottom: 1.3rem;
}
.item__preview-main__image {
	width: 100%;
	height: auto;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}
.item__preview-additional {
	display: flex;
	gap: 1.2rem;
}
.item__preview-additional__item {
	max-width: 6rem;
}
.item__preview-additional__item-image {
	width: 100%;
	height: auto;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.item__info {
	display: flex;
	flex-direction: column;
}
.item__info-company {
	font-size: clamp(0.9rem, 1vw, 1.2rem);
	color: $orange;
	font-weight: 700;
	letter-spacing: 0.1rem;
	margin-bottom: 0.7rem;
}
.item__info-heading {
	font-size: clamp(1.7rem, 2.7vw, 3rem);
	line-height: 2.5rem;
	margin-bottom: 1.8rem;
}
.item__info-text {
	color: $dark-grayish-blue;
	line-height: 1.6rem;
	margin-bottom: 1.2rem;
	font-size: clamp(1rem, 1.1vw, 1.3rem);
}
.item__info-pricing {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 0.5rem;
}
.item__info-pricing__sale {
	font-weight: 700;
	font-size: clamp(1.3rem, 1.8vw, 2.3rem);
}
.item__info-pricing__amount {
	color: $orange;
	background: $pale-orange;
	font-weight: 700;
	padding: 0.2rem 0.4rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.item__info-lastprice {
	color: $grayish-blue;
	text-decoration: line-through;
	font-size: clamp(1rem, 1.1vw, 1.3rem);
	margin-bottom: 0.7rem;
}
.item__info-count {
	display: flex;
	align-items: center;
}
.item__info-count__minus {
	cursor: pointer;
	background: $light-grayish-blue;
	display: flex;
	align-items: center;
	padding: 1.2rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.item__info-count__result {
	font-weight: 700;
	background: $light-grayish-blue;
	padding: 0.7rem;
}
.item__info-count__plus {
	cursor: pointer;
	background: $light-grayish-blue;
	display: flex;
	align-items: center;
	padding: 1rem 1.2rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-right: 2rem;
}
.item__info-cart {
	color: $white;
	display: flex;
	gap: 1rem;
	background: $orange;
}
.item__info-cart__image {
	color: $white;
}
